{% extends 'app1/base.html' %}
{% block body %}
    {% load static %}
    <style>
        .center-align {
          text-align: center;
        }
      
        .center-input {
          margin: 0 auto;
        }
      
        .narrow-input {
          max-width: 600px; /* Adjust the maximum width as needed */
        }
      </style>
    <div class="page-content">
        <div class="card radius-15">
            <div class="card-body">
                <div class="card-title">
                    <center><h2 class="mb-0" style="text-transform: uppercase;;">NEW PAYMENT MADE</h2></center>
                </div>
                <hr/>
            </div>
        </div>
        <form action="createpurchasepymnt" method="post" class="post-form" autocomplete="off">
            {% csrf_token %}
            <div class="card radius-15">
                <div class="card-body">
                    <div class="row">
                    
                        <div class="col-md-3 mt-2">
                            <label for="">Vendor</label>
                            <div class="d-flex">
                                <select name="vendor" id="select" class="custom-select">
                                    <option selected disabled>Select Vendor</option>
                                    {% for v in vndr %}
                                    <option value="{{ v.firstname }} {{ v.lastname }}">{{ v.firstname }} {{ v.lastname }}</option>
                                    {% endfor %}
                                </select>
                                
                            </div>   
                        </div>
                       
                        <div class="col-md-3 mt-2" id="emailField" style="display: none;">
                            <label for="">E mail</label>
                            <input type="text" name="email" id="email" class="form-control">
                        </div> 

                        <div class="col-md-3 mt-2" id="gstTypeField" style="display: none;">
                            <label for="">GST Treatment</label>
                            <input type="text" name="gsttype" id="gsttype" class="form-control">
                        </div>

                        <div class="col-md-3 mt-2" id="gstinField" style="display: none;">
                            <label for="">GST Number</label>
                            <input type="text" name="gstin" id="gstin" class="form-control">
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-md-4 mt-3">
                            <label for="">Payment Date</label>
                            <input type="date" name="paymentdate" id="date" class="form-control" required>
                            
                        </div>
                    
                        <div class="col-md-4 mt-3">
                            <label for="">Reference</label>
                            <input type="text" name="reference" value="{{ ref_no   }}" class="form-control" readonly>
                        </div>
                        
                        
                    

                        
                        

                        <div class="row mt-4">
                            <div class="col-md-4">
                                <input type="text" id="newmethod" onchange="addtemopt(this)" class="form-control"
                                       style="display: none;">
                            </div>
                        </div>

                        <div class="col-md-4 mt-3">
                            <label for="">Payment Method</label>
                            <div class="d-flex">
                                <select name="paymentmethod" id="paymeth" onclick="showinp('newmethod', this)" class="form-control" required>
                                    <!-- <option value="NILL" selected disabled>Choose Payment Method</option> -->
                                    <option value="" selected hidden>Select Payment Method</option>
                                    <option value="Cash">Cash</option>
                                    <option value="Cheque">Cheque</option>
                                    <option value="UPI">UPI</option>
                                    {% for v in bank %}
                                        <option value="{{ v.bank_name }}">{{ v.bank_name }}</option>
                                    {% endfor %}
                                </select>
                                <!-- <a class="btn btn-outline-secondary ml-1" data-target="#Add_option" data-toggle="modal" role="button">+</a> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-md-4 mt-3">
                          
                       
                        <div style="display:none;"  id="chequediv">
                            <label class="col-form-label" >Cheque Number</label>
                            <input type="text" class="form-control" name="cheque_id" id="cheque_id" placeholder="Enter Cheque Number">
                        </div>
                        
                        <div style="display:none;" id="upidiv">
                            <label class="col-form-label" >UPI ID</label>
                            <input type="text" class="form-control" name="upi_id" id="upi_id" placeholder="Enter UPI ID">
                        </div>

                        <div style="display:none;" id="bnkdiv">
                            <label class="col-form-label" >Bank Account</label>
                            <input type="text" class="form-control" name="bnk_id" id="bnk_id" style="background-color: #43596c;" readonly>
                        </div>
                    </div>
                        
                    
                </div>

                    
                    
                    <br><br>
                    
          
                    <br><br>
                        <div class="row clearfix">
                            <div class="col-md-12 table-responsive-md">
                                <table class="table table-bordered table-hover" id="tab_logic" style="background-color: rgba(0,0,0,0.4);">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th class="text-center">Date</th>
                                            <th class="text-center">Bill Number</th>
                                            <th class="text-center">Bill Amount</th>
                                            <th class="text-center">Due Date</th>
                                            <th class="text-center">Balance Due</th>
                                            <th class="text-center">Payment</th>
                                        </tr>
                                    </thead>
                                    <tbody id='vendordata'></tbody>
                                    <tbody id='billdata'></tbody>
                                  
                                </table>
                                
                                <div class="row clearfix mt-4">
                                    <div class="col-md-7"></div>
                                    <div class="col-md-5 table-responsive-md">
                                        <table class="table table-bordered table-hover" id="tab_logic_total" style="background-color: rgba(0,0,0,0.4);">
                                            <tbody>
                                                <tr>
                                                    <th class="text-center">Amount to Apply</th>
                                                    <td class="text-center">
                                                        <input type="number" name="paymentamount" id="amtoapply" placeholder="0.00" class="form-control">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="text-center">Amount to Credit</th>
                                                    <td class="text-center">
                                                        <input type="number" name='amtcredit' id="amtcredit" placeholder='0.00' class="form-control">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-10"></div>
                            <!-- <div class="col-md-2">
                                
                                <button type="submit"
                                        onclick="alert('Are you sure you wants to save the payment?\nNo corrections after submission')"
                                        class="btn btn-outline-info rounded-pill w-100 text-grey pull-left">
                                    Save
                                </button>

                            </div> -->
                            <div class="" style="margin-left: 30rem; text-align: center;">
                                <button type="submit" name="action" value="draft" class="btn btn-outline-info rounded-pill w-10 text-light">Save as Draft</button>&nbsp;
                                <button type="submit" name="action" value="save"  class="btn btn-outline-info rounded-pill w-10 text-light">Save And Send</button>
                            </div>
                            
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-10">
                                <div class="notices">
                                    <div class="text-muted">NOTICE:</div>
                                    <div class="notice text-muted">
                                        Fin sYs Terms and Conditions Apply
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="modal fade" id="newaccount">
            <div class="modal-dialog modal-lg">
                <div class="modal-content" style="background-color: #213b52;">
                    <div class="modal-header">
                        <h3 class="m-3">Account</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card p-3 m-3">
                            <form method="post" action="{% url 'createaccount1' %}">
                                {% csrf_token %}
                                <div class="row mt-2 mb-2">
                                    <div class="col-md-6">
                                        <label for="acctyp">Account Type</label>
                                        <select name="acctype" id="select1" class="custom-select-md form-control w-100">
                                            <!-- <option >Account Receivable</option>
                                            <option>Current Assets</option> -->
                                            <option>Cash</option>
                                            <option>Bank</option>
                                            <!-- <option>Fixed Assets</option>
                                            <option>Non-Current Assets</option>
                                            <option>Accounts Payable</option>
                                            <option>Credit Card</option>
                                            <option>Current Liabilities</option>
                                            <option>Non-Current Liabilities</option>
                                            <option>Equity</option>
                                            <option>Income</option>
                                            <option>Other Incomes</option>
                                            <option>Cost Of Goods Sold</option>
                                            <option>Expenses</option>
                                            <option>Other Expenses</option>
                                            <option>Undepposited Funds</option>
                                            <option>Stock(New)</option> -->
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label>* Name</label>
                                        <input name="name" id="name" placeholder="Account Name" required 
                                               class="custom-select-md form-control w-100"> 
                                    </div>
                                    
                                </div>
                                <div class="row mt-2 mb-2">
                                    <div class="col-md-6 mt-2">
                                        <label for="balance">Credit</label>
                                        <input type="number" name="balance" id="balance" placeholder="Credit Amount"
                                               class="form-control" >
                                    </div>
                                    <div class="col-md-6 mt-2">
                                        <label for="balance">Debit</label>
                                        <input type="number" name="dbbalance" id="balance" placeholder="Debit Amount"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mt-2">
                                        <textarea class="form-control mt-2" name="Type details" cols="20"
                                        rows="10" style="font-size: small;" disabled>Use Cash and Cash Equivalents to track cash or assets that can be converted into cash immediately. For example, marketable securities and Treasury bills.</textarea>
                                    </div>
                                    <div class="col-md-6 mt-2">
                                        <div class="mt-2">
                                            <div>
                                                <label for="asof">As of</label>
                                                <input type="date" name="asof" id="date1" class="form-control" value="{{ tod }}">
                                            </div>
                                        </div>
                                        <div class="mt-2">
                                            <label>Description</label>
                                        <textarea class="form-control" name="description" placeholder="Max. 500 Characters"></textarea>
                                        </div>
                                    </div>
                                </div>        
                                <div class="mt-3">
                                    <div class="row">
                                        <div class="col-md-5"></div>
                                        <div class="col-md-4"></div>
                                        <div class="col-md-3">
                                            <button type="submit" class="btn btn-outline-info">Save and
                                                close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="modal fade" id="Add_option">
            <div class="modal-dialog">
                <div class="modal-content" style="background-color: #213b52;">
                    <div class="modal-header">
                        <h3 class="m-3">New Payment Method</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card p-3 m-3">
                           
                            <form action="" method="post" autocomplete="off" id="newmethod-form">

                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-8 mt-2">
                                        <input type="text" name="newmethod" id="option" class="form-control">
                                    </div>
                                    <div class="col-md-2 mt-2">
                                        <button id="CreateOption" class="btn btn-outline-info text-grey mb-3" type="submit">Save</button>
                                    </div>
                                </div>
                            </form>  
                        </div>
                    </div>
                </div>   
            </div>
        </div>   
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $('#date').val(new Date().toJSON().slice(0,10));
        $('#date1').val(new Date().toJSON().slice(0,10));
    </script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script>
        function showinp(divId, element) {
            if (element.value == 'Add New') {
                document.getElementById(divId).style.display = 'block';
            } else {
                document.getElementById(divId).style.display = 'none';
            }
        }

        

        function addtemopt(element) {
            var opt = document.getElementById('newmth');
            if (element.value) {
                opt.value = element.value;
                opt.innerHTML = element.value;
            } else {
                pass
            }
        }      
    </script>
    
    <script>
        $("#select").change(function () {
            const select = $(this).val();
            $.ajax({
                type: "POST",
                url: "{% url 'getbilldata' %}",
                data: {
                    'select': select,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function (response) {
                    console.log(response);
    
                    // Clear existing rows
                    $('#tab_logic #vendordata').empty();
                    $('#tab_logic #billdata').empty();
                 
    
                    if (response.opb != null && response.obdue > 0) {
                        
                        // Display opening balance bill
                        $('#tab_logic #vendordata').append(
                            `<tr id='addr1'>
                                <td>1</td>
                                <td><input type="hidden" name='payment1[]' value="vendor_balance"/><input type="text" name="billdate[]" value="${response.date}" class="form-control"/></td>
                                <td><input type="hidden" name='payment2[]' value="${response.vendorid}" ><input type="text" name='billno[]' value="Vendor Opening Balance" class="form-control"/></td>
                                <td><input type="text" name='billamount[]' value="${response.opb}" class="form-control qty" step="0" min="0"/></td>
                                <td><input type="text" name="duedate[]" value="${response.date}" class="form-control"/></td>
                                <td><input type="number" name='amountdue[]' value="${response.obdue}" class="form-control price" step="0.00" min="0"/></td>
                                <td><input type="number" id='payment_0' name='payment[]' onchange="addagain()" class="form-control total" value="0" /></td>
                            </tr>`
                        );
                    }
    
                    // Display regular purchase bills
                    for (let i = 0; i < response.purchase_bills.length; i++) {
                        if (response.purchase_bills[i].balance_amount > 0) {
                            // Display only if the Amount Due is greater than 0
                    
                        $('#tab_logic #billdata').append(
                            `<tr id='addr${i + 2}'>
                                <td>${i + 2}</td>

                                <td><input type="hidden" name='payment1[]' value="purchasebill_balance"/><input type="text" name="billdate[]" value="${response.purchase_bills[i].date}" class="form-control"/></td>
                                <td><input type="hidden" name='payment2[]' value="${response.purchase_bills[i].billid}" ><input type="text" name='billno[]' value="${response.purchase_bills[i].bill_no}" class="form-control"/></td>
                                <td><input type="text" name='billamount[]' value="${response.purchase_bills[i].grand_total}" class="form-control qty" step="0" min="0"/></td>
                                <td><input type="text" name="duedate[]" value="${response.purchase_bills[i].due_date}" class="form-control"/></td>
                                <td><input type="number" name='amountdue[]' value="${response.purchase_bills[i].balance_amount}" class="form-control price" step="0.00" min="0"/></td>
                                <td><input type="number" id='payment_${i + 1}' name='payment[]' onchange="addagain()" value="0" class="form-control total"/></td>
                            </tr>`
                        );
                    } 
                }



                    // Calculate and update amounts
                    addagain();
                }
            });
        }); 
        function addagain() {
            var totalPayment = 0;
            var totalAmountDue = 0;
        
            // Calculate total payment
            $('[id^=payment]').each(function () {
                totalPayment += parseFloat($(this).val()) || 0;
            });
        
            // Calculate total amount due from vendor data
            $('#tab_logic #vendordata input[name="amountdue[]"]').each(function () {
                totalAmountDue += parseFloat($(this).val()) || 0;
            });
        
            // Calculate total amount due from bill data
            $('#tab_logic #billdata input[name="amountdue[]"]').each(function () {
                totalAmountDue += parseFloat($(this).val()) || 0;
            });
     
            
        
            var balanceAmount = totalAmountDue - totalPayment;
        
            $('#amtoapply').val(totalPayment.toFixed(2));
            $('#amtcredit').val(balanceAmount.toFixed(2));
        }
        
    </script>
    

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    
    
    


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Include jQuery -->

<script>
    $(document).ready(function () {
        $('#select').on('change', function () {
            var select = $('#select').val();
            $.ajax({
                type: "GET",
                url: "{% url 'getvendordata3' %}",
                data: {
                    id: select
                },
                success: function (response) {
                    var json_data = JSON.parse(response);
                    if (json_data.length > 0) {
                        var vendorData = json_data[0]; // Assuming you are expecting one vendor data
                        $('#email').val(vendorData.email);
                        $('#mailaddr').val(vendorData.street + '\n' + vendorData.city + '\n' + vendorData.state + '\n' + vendorData.pincode + '\n' + vendorData.country);

                        // Show email and GST treatment fields
                        $('#emailField, #gstTypeField').show();
                        $('#gstinField').show(); // Show GST Number field if it has a value

                        // Set values for email and GST treatment fields
                        $('#email').val(vendorData.email);
                        $('#gsttype').val(vendorData.gsttype);

                        // Check if GST Number has a value, hide it if empty
                        if (vendorData.gstin) {
                            $('#gstin').val(vendorData.gstin);
                        } else {
                            $('#gstinField').hide();
                        }
                    } else {
                        // Handle the case where no data was found for the selected ID.
                    }
                },
                error: function (xhr, status, error) {
                    // Handle the AJAX error.
                }
            });
        });
    });
</script>

    
<script>
    function showFieldsForPayment(paymentType) {
        var bankFields = document.getElementById("bankFields");
        var chequeFields = document.getElementById("chequeFields");
        var upiFields = document.getElementById("upiFields");

        bankFields.style.display = (paymentType === "bank") ? "block" : "none";
        chequeFields.style.display = (paymentType === "cheque") ? "block" : "none";
        upiFields.style.display = (paymentType === "upi") ? "block" : "none";
    }

    window.onload = function() {
        var paymentRadios = document.getElementsByName("paid_through");
        var bankFields = document.getElementById("bankFields");
        var chequeFields = document.getElementById("chequeFields");
        var upiFields = document.getElementById("upiFields");

        bankFields.style.display = "none"; // Initially hide the bank fields
        chequeFields.style.display = "none"; // Initially hide the cheque fields
        upiFields.style.display = "none"; // Initially hide the upi fields

        paymentRadios.forEach(function(radio) {
            radio.addEventListener('change', function() {
                showFieldsForPayment(this.value);
            });
        });
    }
</script>

<!-- <script>
    $(document).ready(function() {
        $('#amre').on('input', function() {
            var balance = parseFloat($('#amountdue').val());
            var amount = parseFloat($(this).val());
            var difference = amountdue - amre;
            
            // Update the difference input field with the calculated value
            $('#amtcredit').val(amtcredit);
        });
    });
</script> -->

<script>
    function updateAmountFields() {
        var totalPayment = 0;
        for (var i = 0; i <= j; i++) {
            var paymentField = document.getElementById('payment' + i);
            if (paymentField) {
                var payment = parseFloat(paymentField.value);
                if (!isNaN(payment)) {
                    totalPayment += payment;
                }
            }
        }
    
        // Update "Amount" and "Amount to Apply" fields with the total payment
        var amountField = document.getElementById('amtrcvd');
        var amountToApplyField = document.getElementById('amtoapply');
    
        if (amountField && amountToApplyField) {
            amountField.value = totalPayment;
            amountToApplyField.value = totalPayment;
        }
    }
    </script>

    <!-- <script>
        $(document).on("click", "#CreateOption", function (event) {
            event.preventDefault(); // Prevent the default form submission behavior
        
            $.ajax({
                type: "POST",
                url: "{% url 'add_option' %}",
                data: {
                    newmethod: $("input[name='newmethod']").val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (response) {
                    $("#Add_option").modal("hide"); // Close the modal
                    reloadVendor(); // Refresh the dropdown
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
        
    
        function reloadVendor() {
            $.ajax({
                url: "{% url 'option_dropdown' %}",
                type: "GET",
                dataType: "json",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (data) {
                    var dropdown = $('#paymeth');
                    dropdown.empty();
        
                    // Add the default options
                    dropdown.append($('<option>').attr('value', 'Bank Transfer').text('Bank Transfer'));
                    dropdown.append($('<option>').attr('value', 'Cash').text('Cash'));
                    dropdown.append($('<option>').attr('value', 'Cheque').text('Cheque'));
                    dropdown.append($('<option>').attr('value', 'Credit Card').text('Credit Card'));
        
                    // Add the new options from the server
                    $.each(data, function (id, name) {
                        dropdown.append($("<option>").attr("value", id).text(name));
                    });
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }
        
    </script>

    <script>
        $('#paymeth').on('change', function() {
            var selectedPaymentMethod = $(this).val();
    
            // Hide all payment method fields by default
            $('.pymnt-methd-inp').addClass('d-none');
            $('.pymnt-methd-inp').removeClass('d-flex');
    
            if (selectedPaymentMethod === 'Bank Transfer') {
                // Show the bank and account number fields for Bank Transfer
                $('#bankacc-field').removeClass('d-none');
                $('#bankacc-field').addClass('d-flex');
    
                // Simulate change event on bankacc_inp to trigger account number update
                $('#bankacc_inp').change();
            } else if (selectedPaymentMethod === 'UPI') {
                // Show the UPI fields
                $('#upi-field').removeClass('d-none');
                $('#upi-field').addClass('d-flex');
            } else if (selectedPaymentMethod === 'Cheque') {
                // Show the UPI fields
                $('#cc-field').removeClass('d-none');
                $('#cc-field').addClass('d-flex');
            } else if (selectedPaymentMethod === 'Cash') {
                // Show the Cash fields
                // Add similar conditions for other payment methods
            }
        });
    
        $('#bankacc_inp').on('change', function() {
            var selectedBankName = $(this).val();
    
            // Make an AJAX request to get the account number for the selected bank
            $.ajax({
                url: "{% url 'get_account_number' %}",
                type: "POST",
                data: {
                    bankName: selectedBankName,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function(data) {
                    if (data.status) {
                        // Populate the account number field with the received data
                        $('#account_number').val(data.accountNumber);
                    } else {
                        alert('Something went wrong.!');
                    }
                }
            });
        });
    </script> -->

    <script>
        $(document).ready(function() {
          $("#paymeth").change(function() {
            var x=$('#paymeth').val();
            if(x==='Cash'){
              $('#chequediv').hide()
              $('#bnkdiv').hide()
              $('#upidiv').hide()
              document.getElementById('cheque_id').value=null
              document.getElementById('upi_id').value=null
            }else if(x==='Cheque'){
              $('#chequediv').show()
              $('#bnkdiv').hide()
              $('#upidiv').hide()
              document.getElementById('upi_id').value=null
            }else if(x==='UPI'){
              $('#upidiv').show()
              $('#bnkdiv').hide()
              $('#chequediv').hide()
              document.getElementById('cheque_id').value=null
            }else{
              $('#bnkdiv').show()
              $('#chequediv').hide()
              $('#upidiv').hide()
              document.getElementById('cheque_id').value=null
              document.getElementById('upi_id').value=null
    
$.ajax({
    type: "GET",
    url: "{% url 'get_bankdata' %}",
    data: {
        id: x,
    },
    success: function (response) {
        document.getElementById('cheque_id').value = null
        document.getElementById('upi_id').value = null
        document.getElementById("bnk_id").value = response.account_number;
    }
});

            }
          });
        });
    </script>

    
    

{% endblock %}