{% extends 'app1/base.html' %}
{% block body %}
{% load static %}

<style>
    input {
        background-color: #2f516f;
        border: 0;
        border-radius: 5px;
        color: white;
    }

    @media screen and (max-width: 768px) {
        #employeeid {
            margin-left: 0px !important;
        }
    }
</style>
<form action="{% url 'salaryedit' employee_id=employee.employeeid salary_id=salary_detail.id %}" method="post" class="needs-validation" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'assets/plugins/select2/js/select2.min.js' %}"></script>
    
    <script>
        function fetchEmployeeDetails() {
            console.log("Fetching employee details...");
            var selectedEmployeeId = $('#empl_id').val();
            console.log("Selected Employee ID:", selectedEmployeeId);
    
            $.ajax({
                type: 'POST',
                url: "{% url 'listemployee_salary' %}",
                data: {
                    id: selectedEmployeeId,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                dataType: 'json',
                success: function (data) {
                    console.log("Employee details received:", data);
                    updateFormFields(data); 
                },
                error: function (error) {
                    console.error("Error fetching employee details:", error);
                }
            });
        }
        function updateFormFields(data) {
            console.log(data);
            document.getElementById('email').value = data.email || '';
            document.getElementById('eid').value = data.employeeno || '';
            document.getElementById('joindate').value = data.joindate || '';
            document.getElementById('Salary').value = data.amount || '';
            
            {% comment %} if (data.holidays_data) {
            var holidaysList = data.holidays_data.map(function (holiday) {
                return holiday.start_date + ' to ' + holiday.end_date;
            });
            updateFieldValue('holidays', holidaysList.join(', '));
        }
        if (data.attendance_data) {
            var attendanceList = data.attendance_data.map(function (attendance) {
                return attendance.date + ' (' + attendance.status + ')';
            });
            updateFieldValue('attendance', attendanceList.join(', '));
        }

        if (data.working_days) {
            updateFieldValue('working_days', data.working_days);
        } {% endcomment %}
    }
    function updateFieldValue(elementId, value) {
        var element = document.getElementById(elementId);
        if (element) {
            element.value = value;
        } else {
            console.warn("Element with ID '" + elementId + "' not found in the DOM.");
        }
    }
        function clearEmployeeDetails() {
            updateFormFields({
                email: '',
                employeeno: '',
                joindate: '',
                amount: '',
                holidays_data: [],
                attendance_data: [],
                working_days: '',
               
            });
        }
    </script>
    <script>
        $(document).ready(function () {
            setCurrentDate({
                salary_month: '{{ salary_detail.month }}',
                salary_year: '{{ salary_detail.year }}'
            });
            $('#empl_id').on('change', function () {
                fetchDays();
            });
        });
        function setCurrentDate(data) {
            var currentDate = new Date();
            var currentYear = currentDate.getFullYear();
            var currentMonth = currentDate.getMonth() + 1; 
            var selectedMonth = data.salary_month || currentMonth;
            var selectedYear = data.salary_year || currentYear;
            var formattedDate = currentYear + '-' + (selectedMonth < 10 ? '0' : '') + selectedMonth + '-' + (currentDate.getDate() < 10 ? '0' : '') + currentDate.getDate();
            $('#salary_date').val(formattedDate);
            $('#month').val(selectedMonth);
            $('#year_').val(selectedYear);
        }
        function fetchDays() {
            var selectedEmployeeId = $('#empl_id').val();
            var sd = $('#salary_date').val();
            var selectedMonth = $('#month').val();
            var selectedYear = $('#year_').val();

            var existingLeave = parseFloat($('#attendance').val()) || 0;
            var existingHoliday = parseFloat($('#holidays').val()) || 0;
            var existingWorkingDays = parseFloat($('#working_days').val()) || 0;
            $.ajax({
                type: 'POST',
                url: "{% url 'getDays' %}",
                data: {
                    sd : sd,
                    id: selectedEmployeeId,
                    month: selectedMonth,
                    year: selectedYear,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                dataType: 'json',
                success: function (data) {
                    document.getElementById('error_msg').innerHTML = ""
                    console.log("Employee details received:", data);
                    document.getElementById('holidays').value = data.holiday ;
                    document.getElementById('attendance').value = data.leave ;
                    document.getElementById('working_days').value = data.working_days ;
                },
                error: function (error) {
                    console.error("Error fetching employee details:", error);
                    document.getElementById('error_msg').innerHTML = error.responseJSON && error.responseJSON.error || 'Unknown error';
                }
            });
        }  
    </script>
    
    <script>
        function calculateSalary() {
            var casualLeave = parseFloat($('#casual_leave').val()) || 0;
            var otherCuttings = parseFloat($('#other_cuttings').val()) || 0;
            var addBonus = parseFloat($('#add_bonus').val()) || 0;
            var salary = parseFloat($('#Salary').val()) || 0;
            var holiday = parseFloat($('#holidays').val()) || 0;
            var leave = parseFloat($('#attendance').val()) || 0;
            var month = $('#month').val();
           
            $.ajax({
                type: 'POST',
                url: "{% url 'calculate_salary' %}",
                data: {
                    leave: leave,
                    holiday: holiday,
                    attendance: leave,
                    casual_leave: casualLeave,
                    other_cuttings: otherCuttings,
                    add_bonus: addBonus,
                    salary: salary,
                    month: month,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                dataType: 'json',
                success: function (data) {
                    console.log("Monthly salary calculated:", data);
                    var formattedSalary = parseFloat(data.monthly_salary).toFixed(2);
                    document.getElementById('monthly_salary').value = formattedSalary;
                },
                error: function (error) {
                    console.error("Error calculating monthly salary:", error.responseText);

                    $('#error_msg').text("Error calculating monthly salary");
                }
            });
        }

        function updateMonthlySalary(data) {
            var monthlySalaryElement = document.getElementById('monthly_salary');
    
            if (monthlySalaryElement) {
                monthlySalaryElement.value = data.monthly_salary;
            } else {
                console.warn("Element with ID 'monthly_salary' not found in the DOM.");
            }
        }   
    </script>
    <script>
        function updateFormFields(data) {
            console.log(data);
            document.getElementById('email').value = data.email || '';
            document.getElementById('eid').value = data.employeeno || '';
            document.getElementById('joindate').value = data.joindate || '';
            document.getElementById('Salary').value = data.amount || '';
            document.getElementById('month').value = data.salary_month || '';
            document.getElementById('year_').value = data.salary_year || '';
            document.getElementById('attendance').value = data.leave || '';
            document.getElementById('casual_leave').value = data.casual_leave || '';
            document.getElementById('holidays').value = data.holiday || '';
            document.getElementById('working_days').value = data.working_days || '';
            document.getElementById('other_cuttings').value = data.other_cuttings || '';
            document.getElementById('add_bonus').value = data.add_bonus || '';
            document.getElementById('monthly_salary').value = data.total_salary || '';
            document.getElementById('description').value = data.description || '';

        }
    </script>
    
    <div class="page-content">
        <h2 id="hel"></h2>
        <div class="card radius-15">
            <div class="card-body">
                <div class="card-title">
                    <center>
                        <h2 class="mb-0" id="estno">EDIT SALARY DETAILS</h2>
                    </center>
                </div>
                <hr />
            </div>
        </div>
        <div class="card radius-15">
            <div class="card-body">
                <div class="row">
                    <div class="col"> </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-5 ml-4">
                        <label class="col-form-label">Employee*</label>
                        <div class="d-flex">
                            <select name="employee" id="empl_id" class="form-control" style="width: 95%;" required onchange="fetchEmployeeDetails()">
                                <option value="{{employee.employeeid }}" selected>{{ employee.title }} {{ employee.firstname }} {{ employee.lastname }}</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="col-md-5 ml-4">
                        <label class="col-form-label">Employee Id</label>
                        <input type="text" class="form-control" id="eid" name="employeeno" placeholder="Employee Id" value="{{employee.employeeno}}"required>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-5 ml-4 " style="width: 100%;">
                        <label class="col-form-label">Email</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="Email" value="{{employee.email}}" required>
                    </div>
                    <div class="col-md-5 ml-4">
                        <label class="col-form-label">Salary</label>
                        <input type="number" class="form-control" id="Salary" name="Salary" placeholder="Salary" value="{{employee.amount}}" required>
                    </div>
                    <div class="col-md-5 ml-4">
                        <label class="col-form-label">Join Date</label>
                        <input type="date" class="form-control" id="joindate" name="joindate" value="{{employee.joindate}}" required><br>
                    </div>
                    <div class="col-md-5 ml-4">
                        <label class="col-form-label">Designation</label>
                        <input type="text" class="form-control" id="designation" name="designation" placeholder="Designation" value="{{employee.designation}}" required><br>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-5 ml-4">
                        <label class="col-form-label">Salary Date</label>
                        <input type="date" class="form-control" name="salary_date" id="salary_date" value="{{salary_detail.salary_date|date:'Y-m-d'}}"required>
                    </div>
                    <div class="col-md-5 ml-4">
                        <label class="col-form-label">Month</label>
                        <select name="month" id="month" class="form-control" required onchange="fetchDays()">
                            {% for month_info in months %}
                                <option value="{{ month_info.value }}" {% if salary_detail.month == month_info.value %}selected{% endif %}>{{ month_info.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-5 ml-4">
                        <label class="col-form-label">Year</label>
                        <select name="year" id="year_" class="form-control" required onchange="fetchDays()">
                            {% for year in years %}
                                <option value="{{ year }}" {% if year == salary_detail.year %}selected{% endif %}>{{ year }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <p id="error_msg"></p>
                </div>

                <div class="row mt-3">
                    <div class="col-md-5 ml-4">
                        <label class="col-form-label">Leave</label>
                        <input type="text" class="form-control" id="attendance" name="attendance" value="{{ salary_detail.leave }}" readonly>
                    </div>
                    <div class="col-md-5 ml-4">
                        <label class="col-form-label">Casual Leave</label>
                        <input type="number" class="form-control" id="casual_leave" name="casual_leave" value="{{ salary_detail.casual_leave }}" >
                    </div>
                    <div class="col-md-5 ml-4">
                        <label class="col-form-label">Holiday</label>
                        <input type="text" class="form-control" id="holidays" name="holidays" value="{{ salary_detail.holiday }}"readonly>
                    </div>
                    <div class="col-md-5 ml-4">
                        <label class="col-form-label">Working Day</label>
                        <input type="text" class="form-control" id="working_days" name="working_days" value="{{ salary_detail.working_days }}" readonly>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-5 ml-4">
                        <label class="col-form-label">Other Cuttings</label>
                        <input type="number" class="form-control" name="other_cuttings" id="other_cuttings" value="{{ salary_detail.other_cuttings }}" placeholder="Other Cuttings" >
                    </div>
                    <div class="col-md-5 ml-4">
                        <label class="col-form-label">Add Bonus</label>
                        <input type="number" class="form-control" name="add_bonus"  id="add_bonus" value="{{ salary_detail.add_bonus }}"  placeholder="Add Bonus">
                    </div>
                    
                    <div class="col-md-5 ml-4">
                        <label class="col-form-label">Calculate Salary</label>
                        <input type="text" class="form-control" id="monthly_salary" name="monthly_salary" value="{{ salary_detail.total_salary }}">
                        <button type="button" class="btn btn-primary" onclick="calculateSalary();">Calculate Salary</button>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-5 ml-4">
                        <label class="col-form-label">Description</label>
                        <textarea class="form-control" name="description" rows="3" placeholder="Optional">{{ salary_detail.description }}</textarea>
                    </div>
                </div>

                
                <div class="row justify-content-end">
                    
                    <div class="col-md-2">
                        <button name="submit"  value="save" class="btn btn-outline-info rounded-pill text-grey w-100 mt-3 mb-3" type="submit">Save </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $(document).ready(function() {
        console.log("Script is running");
        var selectedDate = $('#salary_date').val();
        console.log("Selected Date:", selectedDate);
    });
</script>

{% endblock %}


